@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

#container {
    display: flex;
}

#side {
    width: 40vw;
    height: 100vh;
    background-image: url(/images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#branding {
    font-family: 'Norse';
    font-size: 4rem;;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, .3);
    margin-top: 8rem;
    padding: .8rem;
}

#icon img {
    height: 5rem;
    display: block;
}

#brand {
    margin-top: 1rem;
}

#photo-credit {
    margin: auto auto .8rem;
    font-size: .8rem;
    font-weight: 300;
}

#photo-credit,
#photo-credit a {
    color: rgb(242, 242, 242, .8);
}

#content {
    width: 60vw;
    height: 100vh;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    padding: 1.3rem 2rem;
}

.bold {
    font-weight: 900;
}

.big {
    font-size: 1.3rem;
}

.small {
    font-size: .8rem;
}

#top p {
    margin-bottom: 1.6rem;
    max-width: 55ch;
}

#middle {
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 2rem;
}

li {
    display: flex;
    flex-direction: column;
    margin-top: 1.1rem;
}

.form-row {
    display: flex;
    gap: 3rem;
    padding: 0;
    margin: 0;
}

label {
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(0, 0, 0, .6);
}

input {
    width: 30ch;
    height: 1.3rem;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

input:focus {
    border-color: rgba(0, 0, 255, .1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

}

input:invalid {
    border-color: red;
}

button {
    padding: .6rem 2rem;
    background-color: #596D48;
    color: rgba(250, 250, 250);
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.6rem;
}

#bottom a {
    color: #596D48;
    text-decoration: none;
    font-weight: 600;
}